# OpenPDC API
OpenPdc__BaseUrl=https://openpdc-instance/wp-json/owc/pdc/v1/
OpenPdc__ItemBaseUrl=https://openpdc-rheden-nl.ontw.stuurlui.dev/wp-json/owc/pdc/v1/items

# OpenObjects API
OpenObjects__Token=api-token
OpenObjects__ObjectTypeUrl=http://localhost:8000/api/v2/objecttypes/<object-type-uuid>
OpenObjects__ObjectTypeVersion=1
OpenObjects__OwmsUrl=https://openpdc-instance
OpenObjects__OwmsIdentifier=https://openpdc-instance/org/<owms-id>
OpenObjects__OwmsEndDate=2026-12-31T23:59:59Z
